 <ul id="sections-sidebar" class="sections-sidebar">
    <li><a href="#">World</a></li>
    <li class="dropdown">San Francisco
        <ul class="arrow-left">
            <li class="sub-header" id="sub-header">San Francisco</li>
            <li><a href="#">Students</a></li>
            <li><a href="#">Teaching Assistants</a></li>
            <li><a href="#">Instructors</a></li>
            <li><a href="#">Career Advisors</a></li>
            <li><a href="#">Cats</a></li>
        </ul>
    </li>
    <li><a href="#">New York</a></li>
    <li class="dropdown">Bootcamp Prep
        <ul class="arrow-left">
            <li class="sub-header"id="sub-header">Bootcamp Prep</li>
            <li><a href="#">Students</a></li>
            <li><a href="#">Instructors</a></li>
            <li><a href="#">Cats</a></li>
        </ul>
    </li>
    <li><a href="#">Jumpstart</a></li>
    <li class="dropdown">Online
        <ul class="arrow-left">
            <li class="sub-header"id="sub-header">Online</li>
            <li><a href="#">Immersive</a></li>
            <li><a href="#">Bootcamp Prep</a></li>
            <li><a href="#">Cats</a></li>
        </ul>
    </li>
    <li><a href="#">Marketing</a></li>
    <li class="dropdown"><a href="#">Sales</a>
        <ul class="arrow-left">
            <li class="sub-header"id="sub-header">Sales</li>
            <li><a href="#">Associates</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Cats</a></li>
        </ul>    
    </li>
    <li><a href="#">TalentMatch</a></li>
    <li class="dropdown">Alumni
        <ul class="arrow-left">
            <li class="sub-header"id="sub-header">Alumni</li>
            <li><a href="#">Students</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">Opinions</a></li>
            <li><a href="#">Cats</a></li>
        </ul>  
    </li>
</ul>